@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    height: 100vh;
    max-width: 100vw;
    width: 100vw;
}

/* 
CLASS TYPES
*/
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.font-bold {
    font-weight: 700;
}

.cursor-pointer {
    cursor: pointer;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.font-semibold {
    font-weight: 600;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.gap-4 {
    gap: 1rem;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid {
    display: grid;
}

/* 
CLASS TYPES
*/

p,
h1,
h2,
h3 {
    font-family: "Inter", sans-serif;
    margin: 0;
    color: white;
}

i {
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(18, 18, 161) 0%, rgb(18, 18, 161) 45%, rgb(12, 12, 112) 65%, rgb(18, 18, 18) 85%);
    background-size: 200% 871.333px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-color: rgb(18, 18, 18);
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 0 16px 0 16px;
}

.spotify-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spotify-title h1 {
    font-size: 16px;
    font-weight: 600;
    margin: 1rem;
}

.fa-angle-down,
.fa-ellipsis {
    font-size: 26px;
}

.spotify-rest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-image img {
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.song-details {
    width: 100%;
}

.song-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-title div h2 {
    font-size: 26px;
    margin: 0;
}

.song-title div h3 {
    font-size: 16px;
    margin: 0;
}

.song-title i {
    font-size: 35px;
}

.spotify-rest {
    gap: 1rem;
}

.song-length {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
}

.song-length div {
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 12px;
}

.song-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.song-buttons div {
    display: flex;
    align-items: center;
    font-size: 28px;
}

.fa-circle-play,
.fa-circle-pause {
    font-size: 73px;
}

.song-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cover {
    position: relative;
    padding: 16px;
}

.cover h2 {
    z-index: 10;
    margin: 0;
    position: relative;
}

.cover div {
    min-height: 220px;
}

.cover img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    object-fit: cover;
    color: transparent;
}

.spotify-time-together {
    padding: 16px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-color: rgb(51 47 47);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.spotify-time-together div p:nth-child(2) {
    color: rgb(171 176 188);
}

.count {
    border: 2px solid #26262699;
    border-radius: 1rem;
    border-bottom-width: 6px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-lyrics {
    background-color: rgb(25, 25, 230);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
}

.song-lyrics h2 {
    font-size: 20px;
}

.song-lyrics p {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    white-space: pre-wrap;
    font-size: 27px;
    font-weight: 700;
}

@media (max-width: 500px) {
    main {
    width: 90%;
    }
}